<div class="ui inverted menu">
    <div class="right item">
        <button class="ui inverted button" id="sign-in-up-btn">Sign In/Up</button>
    </div>
</div>
<div class="ui coupled signin modal">
    <div class="header">Sign In</div>
    <div class="content">
        <p></p>
        <p></p>
        <p></p>
        <button class="ui primary button" id="sign-up-btn">
            Sign Up
        </button>
    </div>
</div>
<div class="ui coupled signup modal">
    <div class="header">Sign Up</div>
    <div class="content">
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>
