{% load socialaccount %} {% providers_media_js %}
<div class="ui inverted menu">
    <div class="right item">
        {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}">
            <button class="ui inverted button">Logout</button>
        </a>
        {% else %}
        <button class="ui inverted button" id="sign-in-up-btn">Sign In/Up</button>
        {% endif %}
    </div>
</div>
<div class="ui coupled signin basic modal small">
    <div class="header">Sign In</div>
    <div class="content">
        <div class="container ">
            <form class="ui form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %} {{ form.non_field_errors }}
                <div class="field">
                    {{ form.login.errors }}
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="login" placeholder="Account Name or E-mail address">
                    </div>
                </div>
                <div class="field">
                    {{ form.password.errors }}
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    {{ form.remember.errors }}
                        <input type="hidden" name="remember" checked="checked">
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="ui fluid large red submit button" type="submit">Login</button>
            </form>
            <div>New to us? <a id="sign-up-btn" href="#"> Sign up now</a></div>
            <br />
            <a class="ui facebook button" href="{% provider_login_url 'facebook' %}" >
                <i class="facebook icon"></i>
                Facebook
            </a>
            <a class="ui twitter button" href="{% provider_login_url 'twitter' %}">
                <i class="twitter icon"></i>
                Twitter
            </a>
        </div>
    </div>
</div>
</div>


<div class="ui coupled small signup modal">
    <div class="header">Sign Up</div>
    <div class="content">
        <div class="ui grid">
            <div class="fourteen wide column centered">
                <form class="ui form" method="POST" action="{% url 'account_signup' %}">
                    {% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">
                        {{ form.username.errors }}
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        {{ form.email.errors }}
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="email" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        {{ form.password.errors }}
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password1" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        {{ form.password.errors }}
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password2" placeholder="Password again">
                        </div>
                    </div>
                    <div class="field">
                        {{ form.remember.errors }}
                            <input type="hidden" name="remember" checked="checked">
                    </div>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="ui fluid large green submit button" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
