{% load staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
    <!-- coding : utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- cache : off -->
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">

    <!-- Lastest IE version -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page title -->
    <title>Linggle 10^12- Language Reference Search Engines - NLPLab</title>

    <meta name=“description” content="Linggle 10^12 is a language reference search engine developed by NTHU NLPLab. The system takes advantage of all public Web pages to provide frequency information on word combinations. With frequency information, you can exam if the phrase is composed in a common way. And with the powerful query syntax, you can find out a proper phrase to describe a subject, a concept or the usage of certain verb, adjective, adverb">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" />

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

    <link rel="shortcut icon" href="static/img/favicon.png" />
    <script src="static/js/index/main.js"></script>


</head>
{% include "index/header.html" %}

<body>
    <div class="ui container stacked segment">
        <img class="ui centered medium image" src="static/img/linggle-logo.png">
        <div class="ui centered stackable grid">
            <div class="ten wide column item">
                <div class="ui action fluid icon input">
                    <input class="prompt" type="text" id="search-bar">
                    <i class="remove icon"></i>
                    <button class="ui yellow icon button" id="bookmark-btn">
                        <i class="tag icon"></i>
                    </button>
                    <button class="ui grey icon button" id="delete-btn">
                        <i class="delete icon"></i>
                    </button>
                </div>
                <table class="ui single line unstackable selectable table">
                    <tbody id="input-list">
                    </tbody>
                </table>
            </div>
            <div class="column">
                <button class="ui labeled icon pink button" id="help-btn">
                    <i class="help circle icon"></i> HELP
                </button>
            </div>
        </div>
    </div>


    <div class="ui container">
        <table class="ui very compact large blue selectable unstackable table">
            <thead>
                <tr>
                    <th class="ten wide">N-gram</th>
                    <th class="one wide">percent</th>
                    <th class="one wide">count</th>
                    <th class="one wide">example</th>
                </tr>
            </thead>
            <tbody id="search-result">
                <tr>
                    <td>No result</td>
                </tr>
            </tbody>

        </table>
    </div>
    </div>
    {% include "index/helpmodal.html" %}
</body>

</html>
